<!DOCTYPE html>

<html>

<head>
    <title>CRUD Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet">
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>



</head>

<body>

  <div class="flex flex-col items-center">

    <div class="flex bg-blue-200 w-full h-16 justify-center items-center mb-10">
      <h1 class="text-xl my-10 font-bold">CRUD Application</h1>
    </div>
    
    <div>
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="bg-yellow-100 border-b-2 border-gray-200 p-4">
        <h1 class="font-semibold text-xl">Notification</h1>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}


      <div>
        {% include "dataForm.html" %}
      </div>

      <table class="w-fit shrink-0 bg-white rounded-xl">
        <thead class="h-[40px] bg-blue-300">
          <tr>
            <th class="px-5 py-3 text-md text-left font-semibold tracking-wide  w-52">Nama</th>
            <th class="px-5 py-3 text-md text-left font-semibold tracking-wide  w-60">Alamat</th>
            <th class="px-5 py-3 text-md text-left font-semibold tracking-wide  w-40">No_telp</th>
            <th class="px-5 py-3 text-md text-left font-semibold tracking-wide  w-40">Jenis_kelamin</th>
            <th class="px-5 py-3 text-md text-left font-semibold tracking-wide  w-60">Jenis_kursus</th>
            <th class="px-5 py-3 text-md text-left font-semibold tracking-wide  w-40">tanggal_pendaftaran</th>
            <th class="px-5 py-3 text-md font-semibold tracking-wide  w-40">Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td class="px-5 py-3 text-sm text-justify">{{ row[1] }}</td>
            <td class="px-5 py-3 text-sm text-justify">{{ row[2] }}</td>
            <td class="px-5 py-3 text-sm text-justify">{{ row[3] }}</td>
            <td class="px-5 py-3 text-sm text-justify">{{ row[4] }}</td>
            <td class="px-5 py-3 text-sm text-justify">{{ row[5] }}</td>
            <td class="px-5 py-3 text-sm text-justify">{{ row[6] }}</td>
            <td class="px-5 py-3 text-sm text-center space-x-8 flex">

              <button onclick="openFunction('{{ row[0] }}')" type="submit" id="editDataBtn" class="w-full h-auto text-yellow-500 text-2xl hover:scale-125">
                <span class="material-symbols-outlined">edit_square</span>
              </button>
              
              <form action="{{ url_for('delete', id=row[0]) }}" method="POST" class="w-full h-auto text-red-500 ">
                <button type="submit" class="hover:scale-125">
                  <span class="material-symbols-outlined ">delete</span>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>        
      </table>
    </div>
  </div>
</body>

</html>
